@media (max-width: 950px) {
  .bookCard {
    flex-direction: column !important;
  }

  .bookDetails,
  .bookCategory,
  .bookInfo {
    width: 100% !important;
    margin: 1rem 0;
  }

  .category {
    margin-left: 0 !important;
  }

  .bookCardHeader {
    display: none;
  }
}

.bookDetailPopup {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000000000;
  left: 0;
  height: 100vh;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 !important;
  padding: 2rem;
}

.bookDetailCard {
  @apply flex flex-col bg-gray-200 rounded-lg shadow-lg w-[300px] min-h-[300px] p-2 space-y-4 relative;
}

.bookDetailWrap {
  @apply m-2;
}

.bookDetailClose {
  @apply absolute right-2 top-2 text-red-500 text-xl cursor-pointer;
}

.bookDetailHeader {
  @apply font-semibold 2xl:text-xl capitalize;
}

.bookDetailData {
  @apply text-slate-900 2xl:text-xl capitalize;
}
