@media (max-width: 950px) {
  .bookCard {
    flex-direction: column !important;
  }

  .bookDetails,
  .bookCategory,
  .bookInfo {
    width: 100% !important;
    margin: 1rem 0;
  }

  .category {
    margin-left: 0 !important;
  }

  .bookCardHeader {
    display: none;
  }
}

.bookDetailPopup {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000000000;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 !important;
  padding: 2rem;
}
