.dashboardCard svg {
  fill: white !important;
}

@media (max-width: 767px) {
  .dashboardCard {
    width: 100% !important;
    margin: inherit 0 !important;
  }
}

.fullContainer {
  display: flex;
  flex-grow: 1;
}
