.banner {
  @apply py-32 lg:py-0 md:justify-between px-5 md:px-20 justify-center items-center;
}

.bannerHeader {
  @apply space-y-8 w-full lg:w-1/2 text-center lg:text-left;
}

.bannerBtn {
  @apply md:space-x-6 justify-center lg:justify-start;
}
.bannerImg {
  min-width: 400px;
  min-height: 400px;
}

.bannerMainBtn {
  @apply drop-shadow-2xl p-2 rounded-full w-[150px] bg-blue-700 text-white  mr-4 md:mr-0;
}

p {
  word-break: break-word !important;
}

.bannerSubBtn {
  @apply drop-shadow-2xl p-2 dark:text-white border border-blue-700 rounded-full w-[150px] text-slate-900;
}
